EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/t10k-images-idx3-ubyte
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/train-images-idx3-ubyte
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/train-labels-idx1-ubyte
EXAM_DL/DAY3_Wed/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
